<div class="flex-none">
  <button class="btn btn-square btn-ghost">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-10 h-10 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</div>
<div class="flex-1 px-2 mx-2">
  <%= link_to "Q∫Blog", root_path, class:'text-3xl font-bold' %>
</div>
<% if user_signed_in? %>
  <div class="flex-1 px-2 mx-2">
    <%= link_to 'Q∫SignOut', destroy_user_session_path, data: { turbo_method: "delete" }, class: 'text-3xl font-bold' %>
  </div>
<% else %>
  <div class="flex-1 px-2 mx-2">
    <%= link_to 'Q∫SignIN', new_user_session_path, class: 'text-3xl font-bold' %>
  </div>
<% end %>
<div class="flex-1 px-2 mx-2">
  <%= link_to "New∫Article", new_post_path, class:'text-3xl font-bold' %>
</div>
<div class="flex-1 px-2 mx-2">
  <%= link_to "Q∫AboutMe", about_path, class:'text-3xl font-bold' %>
</div>
<div class="flex-1 px-2 mx-2">
  <%= link_to "Q∫Blog", root_path, class:'text-3xl font-bold' %>
</div>
<div class="flex-1 px-2 mx-2">
  <%= search_form_for @q, url: posts_path, html: { class: "flex items-center gap-2 justify-center" } do |f| %>
    <%= f.search_field :title_cont, class: 'form-control form-input w-[250px] px-2 py-2 border rounded-md text-xl text-center', placeholder: '輸入關鍵字' %>
    <div class=" w-full text-xl">
      <%= f.select :category_id_eq, Category.all.pluck(:name, :id), { include_blank: '選擇分類' }, class: 'select select-bordered bg-white text-xl text-gray-500 text-center' %>
    </div>
    <%= f.submit "收尋文章", class: "btn btn-primary text-xl" %>
  <% end %>
</div>
<div class="flex-none">
  <button class="btn btn-square btn-ghost ml-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-10 h-10 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 10.25a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0zM12 10.25a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0zM17.75 11.5a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5z"></path>
    </svg>
  </button>
</div>

