<h2 class='text-[45px] font-bold text-gray-600'>New∫Article</h2>
<% if @post.errors.any? %>
  <div id='error_explanation'>
    <h2 class="text-red-500 font-bold text-xl"><%= pluralize(@post.errors.count, 'error') %>必需填寫:</h2>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li class=" text-lg text-red-500"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div data-controller="preview" class="flex flex-wrap mt-4">
  <div class="w-1/2 pr-4">
    <%= form_with model: @post, data: { turbo: false }, class: 'flex flex-col' do |f| %>
      <div>
        <%= f.label :title, '標題', class: 'block text-2xl font-medium text-gray-700' %>
        <%= f.text_field :title, class: 'input input-bordered w-full border-2 text-2xl mb-3 p-2', placeholder: '填寫標題(＊必要填寫)' %>
      </div>

      <div>
        <%= f.label :subtitle, '副標題', class: 'block text-2xl font-medium text-gray-700' %>
        <%= f.text_field :subtitle, class: 'input input-bordered w-full border-2 text-2xl mb-3 p-2', placeholder: '填寫副標題(＊必要填寫)' %>
      </div>

      <div>
        <%= f.collection_select :category_id, @categories, :id, :name, { prompt: '選擇文章分類(＊必要)' }, { class: 'select select-bordered w-full text-2xl p-2 mb-3' } %>
        <%= text_field_tag 'category[name]', nil, class: 'input input-bordered w-full border-2 text-2xl mb-3 p-2', placeholder: '新增文章分類' %>
      </div>

      <div>
        <%= f.label :body, '內文', class: 'block text-2xl font-medium text-gray-700' %>
        <%= f.text_area :body, 
                        class: 'textarea textarea-bordered w-full h-72 text-2xl p-2', 
                        "data-preview-target": "source", 
                        "data-action": "input->preview#show",
                        placeholder: '填寫內文(＊必要填寫)' %>
      </div>
      
      <details class="collapse bg-base-100 mt-[15px] mb-[30px] w-full border-2">
        <summary class="collapse-title text-2xl font-medium text-center">特殊符號</summary>
        <div class="collapse-content text-2xl p-6" data-controller="copysymbol"> 
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☰</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >➜</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >«</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >»</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >※</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >＊</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☑</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☒</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✔</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✖</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >ꚰ</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✎</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✏</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✐</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☞</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☜</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >☟</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⌫</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⌘</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" ></button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓵</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓶</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓷</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓸</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓹</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓺</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓻</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓼</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓽</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⓾</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⁇</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⁉</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >△</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >▲</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >⊙</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >◎</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >□</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >■</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✧</button>
          <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >✦</button>
        </div>
      </details>
      <div class="my-5">
        <%= f.submit '修改', class: 'btn btn-accent text-2xl' %>
      </div>
    <% end %>
  </div>

  <div class="w-1/2 pl-4 mt-7">
    <details class="collapse bg-base-100 mb-[30px] w-full border-2">
      <summary class="collapse-title text-2xl font-medium text-center">Markdown語法快捷</summary>
      <div class="collapse-content text-2xl p-6" data-controller="copysymbol"> 
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >#### ☰☰</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >##### ☰☰</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >- - -</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >**粗**</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >*斜*</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >~~刪~~</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >[google](https://)</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >> 引言</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >|左|中|右|</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >|:--|:--:|--:|</button>
        <button class="btn btn-sm text-xl mb-2" data-action="click->copysymbol#copy" >|文|文|文|</button>
      </div>
    </details>
    <div data-preview-target="preview" class="preview h-[600px] p-4 border border-[3px] border-green-200 rounded-md overflow-auto"></div>
  </div>
    
</div>