<h2 class='text-[45px] font-bold text-gray-600'>Edit∫Article</h2>
<% if @post.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@post.errors.count, 'error') %>阻止儲存:</h2>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post, data: { turbo: false }, class: 'mt-4' do |f| %>

  <div>
    <%= f.label :title, '標題', class: 'block text-2xl font-medium text-gray-700' %>
    <%= f.text_field :title, class: 'input input-bordered w-2/5 border-2 text-2xl mb-3 p-2', placeholder: '填寫標題', type: 'text' %>
  </div>

  <div>
    <%= f.label :subtitle, '副標題', class: 'block text-2xl font-medium text-gray-700' %>
    <%= f.text_field :subtitle, class: 'input input-bordered w-2/5 border-2 text-2xl mb-[40px] p-2', placeholder: '填寫副標題', type: 'text'  %>
  </div>

  <div>
    <%= f.collection_select :category_id, @categories, :id, :name, { prompt: '選擇文章分類' }, { id: 'category_select', class: 'existing-category select select-bordered w-1/4 max-w-xs text-2xl p-2' } %>
    <%= text_field_tag 'category[name]', nil, id: 'category_name', class: 'new-category input input-bordered w-full max-w-xs border-2 text-2xl ml-[45px] mb-3 p-2 text-center', placeholder: '新增文章分類' %>
  </div>

  <div>
    <%= f.label :body, '內文', class: 'block text-2xl font-medium text-gray-700' %>
    <%= f.text_area :body, class: 'textarea textarea-bordered w-1/2 h-72 text-2xl p-2', placeholder: '填寫內文' %>
  </div>

  <div class="block text-2xl font-medium text-gray-700">
    <%= f.submit '修改文章', class: 'btn btn-accent' %>
  </div>

<% end %>


