<!DOCTYPE html>
<html>
  <head>
    <title>QBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="icon" type="image/png" href="<%= asset_path('index/Favicon.png') %>">


  </head>

  <body class="flex flex-col min-h-screen">
    <div class="navbar bg-base-100 shadow-lg rounded-box flex mb-[20px] h-[45px] px-6">
      <%= render 'shared/navbar' %>
    </div>
    <%= render "shared/flash" if flash.any? %>
    <main class="flex-grow mx-[100px]">
      <%= yield %>
    </main>
    <footer class="footer p-[20px] bg-neutral text-neutral-content bg-base-100 shadow-lg rounded-box flex justify-around px-8 border-t-2 border-gray-700">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
